.home-wrapper {
  margin: 0 0 0 13rem;
  background: rgb(23, 23, 26);
  background: linear-gradient(90deg, rgb(243, 243, 243) 44%, rgb(250, 250, 250));
  min-height: 100vh;
}

.user-wrapper {
  float: right;
  background: rgb(231, 231, 231);
  height: 30px;
  margin-right: 5px;
  width: 120px;
}
