.main-container {
  padding-top: 50px;
}

.tittle-class {
  text-align: center;
}
.chart-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente, si es necesario */
  height: 400px; /* Altura opcional para centrar verticalmente */
}
canvas {
  width: 100%; /* Asegura que el canvas use el 100% del contenedor */
}
.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}
.btn-success:hover {
  background-color: #218838;
}
.dropdown-menu {
  max-height: 300px; /* Limitar la altura del menú */
  overflow-y: auto; /* Habilitar el desplazamiento */
}
